.code-container>textarea.copy-code,
/* .code-container>textarea.copy-code, */
.code-container>pre.copy-code {
    height: fit-content !important;
    max-width: 55vw !important;
    max-height: 50vh;
    overflow: hidden;
    overflow-y: scroll;
}
