.body{
    position: relative;
}
.box.tutorialLink-darkModeBtn-container{
    position: fixed !important;
    top: 0;
    right: 0;
    /* left: 50%; */
    max-width: 200px !important;
}
#darkModeBtn{
}