*{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 599;
    word-spacing: 2px;
    font-size: 1rem;
}
.page-header.grid {.box a {
    text-decoration: none;
    }
}