:root {
    --sidebar-width: 120px;
    --main-content-width: calc(100% - var(--sidebar-width));
    --sidebar-collapsed-width: 2.5%;
}

.side-bar {
    width: var(--sidebar-width);
    position: sticky;
    top: 0;
    height: 100vh;
    flex-shrink: 0;

    /* IMPORTANT */
    z-index: 1000;
    overflow: visible;
}

#sideBarBtn {
    position: absolute;
    top: 0;
    left: 5px;

    z-index: 1001;
    pointer-events: auto;
}
.side-bar ul {
    list-style: decimal;
}
.side-bar ul>li>a {
    text-decoration: none;
}