
main.main-container.collapsed .side-bar {
  width: var(--sidebar-collapsed-width)
}
main.main-container.collapsed .main-content-container {
  flex-basis: 95%;
  flex-grow: 1;
  /* background-color: blue; */
}
main.main-container.collapsed .side-bar h3,
main.main-container.collapsed .side-bar .sidebar-links-ul {
  display: none;
}

main.main-container.collapsed #sideBarBtn {
  max-height: fit-content;
  position: fixed;
  /* reset top */
  transform: scale(2.5);
  top: auto;
  /* now bottom works */
  bottom: 50%;
  left: 20%;
  margin-left: 5%;
  z-index: 10;
  /* keep it above everything */
  /* keep it bottom-left of screen */
}
/* When main-container is collapsed, adjust its left position */

main.main-container.collapsed #sideBarBtn {
  max-height: fit-content;
  position: fixed;
  /* reset top */
  /* top: auto; */
  /* now bottom works */
  bottom: 50px;
  left: 0px;
  z-index: 9999;
  /* keep it above everything */
  /* keep it bottom-left of screen */
}

main.main-container.collapsed .side-bar-links-container {
  opacity: 0;
}
