@import url('dark-mode.css');
@import url('responsive.css');
/* @import url('steps.css'); */
/* uis */
@import url('ui/toggle-side-bar.css');
@import url('ui/side-bar.css');
@import url('ui/copyCode.css');
/* utilities -> header */
@import url('utilities/header/grid.css');
@import url('utilities/header/layout.css');

/* utilities */
@import url('utilities/borders.css');
@import url('utilities/colors.css');
@import url('utilities/effects.css');
@import url('utilities/layout.css');
@import url('utilities/position.css');

@import url('utilities/sizing.css');
@import url('utilities/spacing.css');
@import url('utilities/text.css');
/* utilities -> steps */
@import url('steps/step-text.css');
@import url('steps/code-containers.css');
@import url('steps/imgSizes.css');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* SHOULD I PUT THIS IN IT'S OWN CSS FILES FOR ui/drop-downs.css ???? */
.hide { display: none; }